<py:extends href="klayout.html">
  <py:block name="head">
    <title>
      <py:if test="query">Search Results</py:if><py:else>Search</py:else>
    </title>
    <py:if test="results">
      <meta name="startIndex" content="${results.span[0] + 1}"/>
      <meta name="totalResults" content="$results.num_items"/>
      <meta name="itemsPerPage" content="$results.max_per_page"/>
    </py:if>
    ${parent_block()}
  </py:block>

  <py:block name="content">
    <div id="content" class="search">

      <pre>
      </pre>

      <h1><label for="q">Search</label></h1>
      <form id="fullsearch" action="${href.search()}" method="get">
        <p>
          <input type="text" id="q" name="q" class="trac-autofocus" size="40" value="$query" />
          <input type="hidden" name="noquickjump" value="1" />
          <input type="submit" value="${_('Search')}" />
        </p>
        <p class="filters">
          <py:for each="filter in filters">
            <input type="checkbox" id="${filter['name']}" name="${filter['name']}"
                   checked="${filter['active'] or None}" />
            <label for="${filter['name']}">${filter['label']}</label>
          </py:for>
       </p>
      </form>

      <py:if test="results or quickjump"><hr />
        <h2 py:if="results">
          Results <span class="numresults">(${results.displayed_items()})</span>
        </h2>
        <py:with vars="xpaginator = results">
          <?py self.__globals__['paginator'] = results # well, this sucks... ?>
          <py:include href="kpage_index.html" />
        </py:with>
        <div>
          <dl id="results">
            <py:if test="quickjump">
              <dt id="quickjump">
                <a href="$quickjump.href" i18n:msg="name">Quickjump to $quickjump.name</a>
              </dt>
              <dd>$quickjump.description</dd>
            </py:if>
            <py:for each="result in results">
              <dt><a href="${result['href']}" class="searchable">${result['title']}</a></dt>
              <dd class="searchable">${result['excerpt']}</dd>
              <py:if test="result['author']">
                <dd i18n:msg="author,date">
                  By ${authorinfo(result['author'])} &amp; mdash; <span class="date">${result['date']}</span>
              </dd>
              </py:if><py:else>
                <dd><span class="date">${result['date']}</span></dd>
              </py:else>
            </py:for>
          </dl>
        </div>
        <py:include href="kpage_index.html" />
      </py:if>

      <div id="notfound" py:if="query and not (results or quickjump)">
        No matches found.
      </div>

      <div id="help" i18n:msg="">
        <strong>Note:</strong> See <a href="${href.wiki('TracSearch')}">TracSearch</a>
        for help on searching.
      </div>

    </div>
  </py:block>
</py:extends>
