<!DOCTYPE html>
<html>
  <head>
    # block head
    # endblock
  </head>

  <body>
    # block body

    #   macro navigation(category)
    <div id="${category}" class="nav">
      #   if chrome.nav[category]:
      <ul>
        #-  for idx, item in enumerate(chrome.nav[category]):
${ ''  }<li ${{'class': classes(first_last(idx, chrome.nav[category]),
            active=item.active)
            }|xmlattr}>${item.label}</li>
        #-  endfor
      </ul>
      #   endif
    </div>
    #   endmacro

    <div id="banner">
      <div id="header">
        # if chrome.logo.src:
        <a id="logo"
           href="${chrome.logo.link or href.wiki('TracIni') +
                 '#header_logo-section'}"><img ${{
                                               'src': chrome.logo.src,
                                               'alt': chrome.logo.alt,
                                               'height': chrome.logo.height,
                                               'width': chrome.logo.width
                                               }|xmlattr} /></a>
        # else:
        <h1><a href="${chrome.logo.link}">${project.name}</a></h1>
        # endif
      </div>
      <form id="search" action="${href.search()}" method="get">
        # if trac_error_rendering is undefined and 'SEARCH_VIEW' in perm:
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" accesskey="f" value="" />
          <input type="submit" value="${_('Search')}" />
        </div>
        # endif
      </form>
      ${navigation('metanav')}
    </div>
    ${navigation('mainnav')}

    <div id="main"
         ${{'class': classes(uisymbols=req.session.get('ui.use_symbols'),
         uinohelp=req.session.get('ui.hide_help'))}|xmlattr}>
      ## include resourcepath_template if resourcepath_template ## FIXME
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
        # if chrome.ctxtnav:
        <ul>
          # for i, elm in enumerate(chrome.ctxtnav):
          <li${{'class': classes(first_last(i, chrome.ctxtnav))}|xmlattr}>${
            elm}</li>
          # endfor
        </ul>
        # endif
        <hr />
      </div>

      # if chrome.warnings:
      <div id="warning" class="system-message">
        <a class="trac-close-msg" href="#"
           title="Hide this warning"><span>close</span></a>
        <strong>Warning:</strong>
        # if len(chrome.warnings) == 1:
        ${chrome.warnings[0]}
        # else:
        <ul>
          # for warning in chrome.warnings:
          <li>${warning}</li>
          # endfor
        </ul>
        # endif
      </div>
      # endif

      # if chrome.notices:
      <div id="notice" class="system-message">
        <a class="trac-close-msg" href="#"
           title="Hide this notice"><span>close</span></a>
        # if len(chrome.notices) == 1:
        ${chrome.notices[0]}
        # else:
        <ul>
          # for notice in chrome.notices:
          <li>${notice}</li>
          # endfor
        </ul>
        # endif
      </div>
      # endif

      # block content
      # endblock content

    </div>
    # endblock body
  </body>
</html>
