<html py:strip="">
  ${preview['rendered']}
  <py:if test="preview['size'] == 0">
    <p>
      <strong>(The file is empty)</strong>
  </p></py:if><py:else><py:if test="not preview['rendered']">
    <p>
        <py:if test="preview['max_file_size_reached']"><i18n:msg params="size">
          <strong>HTML preview not available</strong>, since the file size exceeds ${pretty_size(preview['max_file_size'])}.
        </i18n:msg></py:if><py:else><i18n:msg>
          <strong>HTML preview not available</strong>, since no preview renderer could handle it.
        </i18n:msg></py:else>
      <i18n:msg>Try <a href="$preview['raw_href']">downloading</a> the file instead.</i18n:msg>
    </p>
</py:if></py:else>
</html>
